<form action="/record/add" method="post">
  <div>
    <label for="name">Name: </label>
    <input id="name" name="name" type="text"/>
  </div>
  <div>
    <label for="position">Position: </label>
    <input id="position" name="position" type="text"/>
  </div>
  <div>
    <label for="level">Level: </label>
    <input id="level" name="level" type="text"/>
  </div>
  <button type="submit">Submit</button>
</form>